body{
    font-family: 'Biryani', sans-serif;
    margin:0;

    

}

header nav{
    overflow: hidden;
    padding: 15px;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 1px 0px 0px  #707070;
    justify-content: center;
    transition: 0.7s;
    top:0px;
    left: 0px;
    z-index: 100;

 
}

header nav a{
    color: black;
    text-decoration: none;
    margin-left: 60px;
    text-transform: lowercase;
    transform: scaleX(0);
    transform-origin: right;
    font-size: 12px;

   
  
    
}

header nav a:hover{
    color: #2cc178;
    border-bottom: 3px solid #2cc178;
    padding-bottom: 15px;
    text-decoration: none;

}

.header nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    

}

header nav .mariana:hover{
  text-decoration: none;
  

}

.firstpage{
    background-color:#F7F7F7;
    padding-top: 0px;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("../imagem/Web\ 1920\ –\ 26@2x.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    background-size: 1540px;
    

  
}

.secondpage{
    background-color:#2cc178;
    height: 100vh;
}

.secondpage p{
    margin:0;
}


.textofoco{
  position: absolute;
  right: 0;
  top: 105%;
  color: white;
  width: 600px;
  padding-right: 400px;
  font-size: 15px;

}


.textotrabalho{
  position: absolute;
  right: 0;
  top: 128%;
  color: white;
  width: 600px;
  padding-right: 400px;
  font-size: 15px;

}

.textodatadriven{
  position: absolute;
  right: 0;
  top: 155%;
  color: white;
  width: 600px;
  padding-right: 400px;
  font-size: 15px;
   

}

.textoplat{
  position: absolute;
  right: 0;
  top: 175%;
  color: white;
  width: 600px;
  padding-right: 400px;
  font-size: 15px;
   

}


.imguser{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 30px;


}

.tramp{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 30px;
  
  


}

.dat{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 30px;

}

.plat{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-top: 30px;

}

.thirdpage{
    background-color:white;
    height: 100vh;


}
.thirdpage p{
    margin:0;
}
.fourthpage{
    background-color:white;
    height: 100vh;
  


}
.fourthpage p{
    margin:0;
  

}

.fifthpage{
  background-image: url("../imagem/vamostomar.png");
  height: 100vh;
  background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    background-size: 1540px;
}

.fifthpage p{
  margin:0;
}



.gree{
    color: #2cc178;
}

.mariana:hover{
color: #2cc178;
text-decoration:line-through;
text-transform: uppercase;
}


.subtitle {

	font-family: $fontstack_heading;
	font-weight:300;
	text-transform:uppercase;
	text-align:center;
	font-size:1em;
  margin:0.5em 0;

}

.heading-group {
  margin:0 0 3em 0;
}
  
  .content h3 {
    font-size: 1.2em;
    line-height:1.2;
    letter-spacing:0.02em;
    color: #2cc178;
  }

  .timeline-list {

    border-left: 4px solid #2cc178;
    padding-bottom: 1em;
    position: relative;
    max-width:600px;
    margin:0 auto;
    padding: 0;
  }
   
  .timeline-list li {
  margin:0 0 5em 0;
    padding:0 3em 0em 3em;
      position: relative;
  
  }
  .timeline-list li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -1.45em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none repeat scroll 0% 0% #2cc178;
    border: 5px solid #fff;
    
  }

  .lista5{
    content: "";
    position: absolute;
    top: 0px;
    left: -1.45em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none repeat scroll 0% 0% #2cc178;
    border: 5px solid #fff;
   

  }
.quintoandar{
  padding-bottom: 10em;
  position: relative;
  width:900px;
  margin:0 auto;
  padding: 0;
  padding-left: 65px;

}

.textoquintoandar{
  padding-left: 65px;
  width:900px;

}


}

.mari{
  position: absolute;
  right: 0;
  color:black;
  width: 600px;
  padding-right: 200px;
  font-size: 15px;

}

.bt1{
  display: flex;
  flex-direction: column;
  text-align: center;
  display: inline;

}
.bt2{
  display: flex;
  flex-direction: column;
  display:inline;
  text-align: center;
}
.bt3{
  display: flex;
  flex-direction: column;
}
.bt4{
  display: flex;
  flex-direction: column;

}


.bolhas{
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  position: absolute;
  padding-top: 50em;
  

}

.textobolhas{
  position: absolute;
  right: 0;
  top: 284%;
  width: 600px;
  padding-right: 320px;
  font-size: 12px;
}

.textoelatech{
  position: absolute;
  right: 0;
  top: 305%;
  width: 600px;
  padding-right: 320px;
  font-size: 12px;
}

.textoappsesc{
  position: absolute;
  right: 0;
  top: 330%;
  width: 600px;
  padding-right: 320px;
  font-size: 12px;
}

.textoportifolio{
  position: absolute;
  right: 0;
  top: 348%;
  width: 600px;
  padding-right: 320px;
  font-size: 12px;
}

.button{
  background-color: #2cc178;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  transition-duration: 0.4s;
 
  
}

.button:hover {
  background-color: black;
  color: white;


/*links*/

.tituloelatech{
  font-size: 90px;
  padding-left: 200px;
  line-height: 2em;
  
}

.linha{
  color: #2cc178;
  line-height: 15px;
  padding-left: 200px;
}

.contexto{
  color: #2cc178;
  line-height: 5px;
  padding-left: 200px;
}

.paragrafocontexto{
  padding-left: 200px;

}

.editorialdesign{
  padding-left: 200px;
  

}

.metodologia{
  padding-left: 200px;
  line-height: 0px;
  color: #2cc178;

}
.ferramentas{
  padding-left: 200px;
  line-height: 0px;
  color: #2cc178;

}
.data{
  padding-left: 200px;
  line-height: 0px;
  color: #2cc178;
}

.elatech2{
  background-color: white;
  height: 100vh;
  box-sizing: border-box;
  background-size: 1835px;
  font-size: 60px;
  padding-left:2em;
  padding-top: 1em;
  color: white;

}

.elatech2 p{
  margin:0;
}